*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.contenitor-header{
    max-width: 2048px;
    margin: auto;
    background-color: #b4d0e7;
    /* position: absolute; */
    /* min-height: 300px; */
}

.contenitor-full{
    width: 100%;
}

.contenitor-900{
    max-width: 900px;
    margin:auto;
}

.contenitor-1080{
    max-width: 1080px;
    margin:auto;
}

.line-height{
    line-height: 1.4rem;
}

nav{
    vertical-align: middle;
    line-height: 2rem;

}

.menu {
    width: 100%;
    padding-top: 1rem;
    height: 4.5rem;
    background-color: white;
    position: fixed;
    z-index: 10;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.menu .logo{
    float: left;
    
    padding-left: 1rem;
}

.menu ul{
    list-style: none;
    display: inline-block;
}

.menu ul li{
    display: inline-block;
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 0rem 0.7rem 0rem 0.7rem;
}


.right-list{
    float: right;
}

.btn{
    background-color: #0061ff;
    color: white;
    padding: .5rem 2rem .5rem 2rem;
    text-decoration: none;
}

.btn-white{
    background-color: white;
    color: black;
    border: 1px solid black;
}

.btn-no-border{
    background-color: white;
    color: black;
    border: 0;
}

.menu .btn{
    color: white;
    margin-right: 1rem;
    padding: .5rem 2rem .5rem 2rem;   
}
.contenitor-header .content{
    width: 80%;
    margin: auto;
    min-height: 600px;
    padding-top: 5rem;
}

.contenitor-header .content h1{
    font-size: 5em;
}

.contenitor-header .content p{
    width: 25%;
    margin-top: 2.5rem;
    float: left;
}


/* .content .left{
    float: left;
} */

.img-header{
    width: 65%;
    margin-top: 2.5rem;
    float: right;
    object-fit: cover;
}

header .content p{
    position: absolute;
}

header .content .bottom-header{
    position: relative;
    top: 11rem;
}

header .content .bottom-header span{
    padding-top: 2rem;
    display: block;
    text-align: left;   
}

header .content .bottom-header .fas, .fa-arrow-down{
    padding-top: 4rem;
    font-size: 4em;
}

.contenitor-900 h2{
    font-size: 2.5em;
}

.contenitor-900 ul{
    list-style: none;
    margin-top: 3rem;
    line-height: 2rem;
}

.contenitor-900 li{
    display: inline-block;
    margin-right: 1rem;
    vertical-align: middle;
}

.contenitor-900 .dot{
    height: 20px;
    width: 20px;
    /* background-color: #0061ff; */
    border-radius: 50%;
    display: inline-block; 
    border-style: solid;
    vertical-align: middle;
    line-height: 2rem;
    
    border-color: #0061ff;
    border-width: 5px;
}

#grey{
    border-color: lightgrey;
    border-width: 2px; 
}

.column-contenitor{
    margin-top: 3rem;
    width: 100%;
    
    /* background-color: lightsalmon; */
}

.column-contenitor .column{
    width: calc((100% - 2rem) / 3);
    float: left;
    padding: 1rem;  
    /* position: absolute; */
    /* background-color: lightgreen; */
    /* height: 300px; */
}

.column-contenitor .solid{
    border: 2px solid lightgrey;

}

.contenitor-900 hr {
    background-color: lightgray;
    height: 2px;
    width: 100%;
    
    margin-top: 1rem;
    border-style: none;
}



span:after{
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}

.center{
    margin-right: 1rem;
    margin-left: 1rem;
}

.pt-1{
    padding-top: 1rem;
}

.pt-15{
    padding-top: 1.5rem ;
}

.pt-25{
    padding-top: 2.5rem ;
}

.pt-7{
    padding-top: 7rem;
}

.bold{
    font-weight: bold;
}

.contenitor-900 .title{
    width: 100%;
    text-align: center;
    display: inline-block;
}

.contenitor-900 h3{
    font-size: 1.7em;
}

.second h3{
    font-size: 1.4em;
    padding-top: 1rem;
}

.price, .mounth, .buy, .contact, .clients{
    display: block; 
}

.column .price{
    font-weight: bold;
}

.column .mounth{
    color: #717f8c;
    padding-top: 1rem;
    font-size: 0.8em;
}

.column .info, .column .btn, .column .buy{
   /* info è primo ul nella colonna */
    list-style: none;
    margin-top: 3rem;
    font-size: 0.8em;
}


.column .info li{
    line-height: 1rem;
}

.btn-contenitor{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
}

.blue{ 
    color: #0061ff;
    text-decoration: underline;
}

.short-hr{
    width: 10px;
}

.blue-color{
    color: #0061ff;
    padding-right: .3rem;
}

.under-columns{
    margin-top: 4rem;
    padding: 1rem; 
    border: 2px solid lightgrey;
    position: relative;
}

.under-columns .contact{
    margin-top: 2rem;
}

.under-columns .btn-contenitor{
    position: relative;
    bottom: 11rem;
    left: 18rem;
}

.section-bottom{
    width: 100%;
    min-height: 384px;
    /* background-color: yellow; */
}

.section-bottom img{
    width: 50%;
    float: left;
}

.section-bottom .text{
    width: 50%;
    float:left;
    padding-left:2.5rem
}

.section-bottom h5{
    font-size: 1.4rem;
}

.column-contenitor .bottom{
    margin-top: 2.5rem;
}

.business-img{
    width: 100%;
}

.under-grid{
    background-color: #b4d0e7;

}

.third .text h2{
    display: block;
    margin-top: 7rem;
}

.third .text{
    margin-top: 7rem;
}


.grid{
    background-color: #f5f5f5;
    height: 500px;
    margin-top: 7rem;
}

.grid-container{
    width: 100%;
}

.grid-container .center{
    margin: auto;
}
.left-grid, .right-grid{
    width: 500px;
    height: 500px;
    margin-top: 0;
}

.grid .center{
    /* width: 500px;
    height: 500px;
    margin: auto; */
}
.center-content{
    max-width: 622px;
    padding: 3rem 2rem;
}

.center-content p{
    padding: 3rem 0;
}

.grid .center .img-des{
    display: block;
    width: 150px;
}

.left-grid, .center{
    float: left;
}

.right-grid{
    background-color: chocolate;
    float: right;
}

.grid-container .column{
    /* position: absolute; */
}

.in-column{
    width: calc(100% /2);
    height: 250px;

    position: relative;
}

.float-right{
    float: right;
}

.two, .four{
    bottom: 250px;
}

.in-square{
    display: block;
    width: 50%;
    margin: auto;
    height: 250px;
    vertical-align: middle;
    color: white;
    filter: invert(1);
}

.special{
    width: 60%;
}

.green{
    background-color: #a2d39b;
    border: 15px solid #cde7ca;
}

.dark-red {
    background-color: #61082b;
}

.light-blue{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}

.lighter-blue{
    background-color: #b4d0e7;
}

.dark-blue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}




.under-grid{
    /* position: absolute; */
}
.under-grid h3{
    font-size: 2.5em;
    color: #671639;
    padding: 7rem 0 7rem 0;
    width: 60%;
}



.under-grid a{
    display: block;
    float:right;
    position: relative;
    bottom: 12rem;
}

.fourth h4{
    font-size: 1.4em;
    padding-bottom: 1.5rem;
}

.faq, .question{
    width: 100&;
}

/* .faq span{
    display: inline-block;
}
*/
.faq hr{
    margin: 0;
    height: 1px;
}

.faq .question{
    padding: 2rem 0 2rem 0;
} 

.right{
    float: right;
}

.faq .question .fas .fa-chevron-down{
    text-decoration: none;
    color: black;
}

.black-color{
    color: black;
    fill: black;
}


.bottom-footer{
    
    background-color: black;
}

.bottom-footer h6{
    color: white;
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

.bottom-footer ul{
    list-style: none;
    padding-bottom: 7rem;
}

.bottom-footer a{
    text-decoration: none;
    color: white;
}

.footer-column{
    float: left;
    width: 20%;
}

.hr-footer{
    margin-top: 7rem;
}

.bottom-footer span{
    display: inline-block;
    color: lightgray;
    margin-bottom: 2rem;
}

.little-arrow{
    display: block;
    vertical-align: sub;
}