*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.contenitor-header{
    max-width: 2048px;
    margin: auto;
    background-color: #b4d0e7;
}

.contenitor-900{
    max-width: 900px;
    margin:auto;
}

nav{
    vertical-align: middle;
    line-height: 2rem;

}

.menu {
    width: 100%;
    padding-top: 1rem;
    height: 4.5rem;
    background-color: white;
}

.menu .logo{
    float: left;
    
    padding-left: 1rem;
}

.menu ul{
    list-style: none;
    display: inline-block;
}

.menu ul li{
    display: inline-block;
}

ul li:nth-last-child(-n+3){
background-color: coral;
float: right;
/* margin-left: 5rem; */
}

.menu a {
    text-decoration: none;
    color: black;
    padding: 0rem 0.7rem 0rem 0.7rem;
}

.menu .btn{
    float: right;
    background-color: #0061ff;
    color: white;
    margin-right: 1rem;
    padding: 0rem 2rem 0rem 2rem;
}

.contenitor-header .content{
    width: 80%;
    margin: auto;
    min-height: 500px;

    padding-top: 5rem;
}

.contenitor-header .content h1{
    font-size: 5em;
}